<!-- <p>books works!</p> -->

<h2>Programming Book List!</h2>

<button (click)="showBooks()" [disabled]="isDisabled">Show Books</button>

<ul>
  <li><img src="{{ src }}" alt="{{ name }}" width="100"></li>
  {{ name }} by {{ author }}

  <li><img src="{{ src2 }}" alt="{{ name2 }}" width="100"></li>
  {{ name2 }} by {{ author2 }}

  <li><img src="{{ src3 }}" alt="{{ name3 }}" width="100"></li>
  {{ name4 }} by {{ author3 }}

  <li><img src="{{ src4 }}" alt="{{ name4 }}" width="100"></li>
  {{ name4 }} by {{ author4 }}
</ul>

